body{
    margin: 0px;
    padding: 0px;
}



a{
    letter-spacing: .9px;
}

a.simple{
    color: var(--pencil);
    font-family: HelveticaNeue;
}

/* CUSTOM COMPONENTS */

.c-navbar .menu li{
    padding-left: 32px;
}

h1,h2{
    line-height: 40px;
}
 h1,h2,h3,h4{           /* ======================================IMPORTANT FOR LIBRARY */
    -webkit-font-smoothing: antialiased;
    font-weight: 500;
    letter-spacing: .2px;
}

@media (max-width: 800px) {
    .c-navbar, .c-navbar ul{
        display: flex;
        flex-direction: column;
    }
    .c-navbar ul.menu, .c-navbar ul.menu li{
        padding: 0;
        padding-top: 16px;
    }

    .c-navbar ul.menu li{
        padding: 16px 16px 16px 0;
    }
    .c-header{
        height: auto;
    }

    .fix-mobile_botton{
        padding-top: 270px;
    }
    
  }


  /*================================== Utilities */

  .w-100{
    width: fit-content;
  }