body{
    margin: 0px;
    padding: 0px;
    -webkit-font-smoothing: antialiased;
    
}

.c-card{
    box-shadow: 0 6px 24px rgb(25 75 123 / 15%);
}

.brand a{
    color:var(--black) !important;
    display: flex;
    align-items: center;
}
.brand a:hover{
    text-decoration: none;
}

.brand a img{
  height: 27px;
  margin-right: 8px;
}



a{
    letter-spacing: .9px;
   
}

a.simple{
    color: var(--pencil);
    font-family: HelveticaNeue;
}

/* CUSTOM COMPONENTS */


.c-card{
    border: 1px solid var(--neutral);
}


.c-navbar .menu li{
    padding-left: 32px;
}

h1,h2{
    line-height: 40px;
}
 h1,h2,h3,h4{           /* ======================================IMPORTANT FOR LIBRARY */
    -webkit-font-smoothing: antialiased;
    font-weight: 500;
    letter-spacing: .2px;
}

@media (max-width: 800px) {
    .c-navbar, .c-navbar ul{
        display: flex;
        flex-direction: column;
    }
    .c-navbar ul.menu, .c-navbar ul.menu li{
        padding: 0;
        padding-top: 16px;
    }

    .c-navbar ul.menu li{
        padding: 16px 16px 16px 0;
    }
    .c-header{
        height: auto;
    }

    .fix-mobile_botton{
        padding-top: 270px;
    }
    
  }


  /*================================== Utilities */

  .w-100{
    width: fit-content;
  }

  .text-right{
    text-align: right;
  }

  /*================================== Utilities */
  @media (max-width:600px) {
    .c-header-background{
        height: 23vh;
      }
  }




  /*================================== Customs */

  .c-card.item.horizontal .img-content{
    width: 30%;
    max-width: 200px;
  }

  .display{
    font-weight: inherit !important;
  }

  .btn_fix_custom{
    min-width: auto !important;
  }

  .background_set{
    background-color: var(--background-soft);
  }

  .secondary-button.bt-small{
    padding: 8px 18px !important;
    min-width: fit-content !important;
    border: 0px solid white !important;
  }

  .alert.alert-warning{
    border-color: var(--warning) !important;
    border: 1px solid;
    color: var(--warning);
    background-color: var(--warning-bg);
    
  }

  .alert-container{
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 20;
    width: 100%;
  
    bottom: 0;
  }

  .fix_alert{
    pointer-events: none;
  }

  .c-footer{
    position: sticky;
    z-index: 100;
  }
  /* ====================================== Custom head */

  .c-navbar .secondary-button, .c-navbar .primary-button{
    padding: 8px 18px;
    border:0 solid !important;
    margin:0px !important;
    min-width: fit-content;
  }

  .c-navbar,.c-navbar .menu{
    align-items: center;
  }

  .c-navbar .menu li{
    padding-left: 4px;
    padding-right: 4px;
  }




  /* ====================================== MINI MENU */
.mini-menu-fix{
    display: flex;
    justify-content: center;
}
.mini-menu{
  background-color: white;
  padding: 40px;
  border-radius: 8px;
}

.mini-menu{
  display: flex;
  flex-direction: column;
  position:fixed;
}

.mini-menu > *{
  padding-top: 8px;
}

.menu > a{
  font-family: Helvetica Neue;
  display: block;
}

.menu{
  border-radius: 8px;
  
  max-height: calc(100vh - 232px);
  overflow: scroll;
}

.mini-content{
  background-color: white;
  padding: 40px;
  border-radius: 8px;
}

/* ====================================== Utilities */

.r-1{
  border-radius: 8px;
}


.r-2{
  border-radius: 16px;
}

.padding-initial{
  padding: initial !important;
}

.primary-button{
  display: inline-flex;
  align-items: center;
  justify-content: center;
}








/* ====================================== ONLY FOR DEMO */

.types {
	border-left: 2px solid #dedcdc;
	padding-left: 16px;

	& h3 {
		margin-left: -24px;
		z-index: 2;
	}
	& h2 {
		margin-left: -32px;
		z-index: 2;
	}
}

.example {
	background-color: var(--background);
	overflow-x: scroll;
	border-radius: 8px;
}
.example.top {
	border-radius: 8px 8px 0 0;
}
.example_code {
	background-color: #333337;
	color: var(--coppel);
	border-radius: var(--rounded-sm);
	padding: 16px;
	font-weight: 100;
	overflow: scroll;
}
.example_code.bottom {
	border-radius: 0 0 8px 8px;
}
.custom_side {
	position: fixed;
	width: 20%;
	max-width: 320px;
	min-width: 270px;
}

@media (max-width: 1200px) {
	.custom_side {
		min-width: 200px;
	}
	.custom_side .c-card {
		min-width: 200px;
		padding: 8px !important;
	}
}

@media (max-width: 992px) {
	.custom_side {
		position: relative;
		display: contents;
	}
}
